@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(220, 14%, 15%);
    color: white;
    margin: 0;
}

a,
p,
span {
    font-family: inherit;
    color: inherit;
}
